<!DOCTYPE html>
<html lang="en">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<h3 class="text-muted">DataBase Layer 7 Health Report</h3>
		</div>
		<hr />
		<h3>Stats</h3>
		<table class="table">
{% for itm in data %}
   <tr>
        <th> {{ itm.name }} </th>
        <td> {{ itm.status }} </td>
   </tr>
{% endfor %}
</table>
		<!--table class="table">
			<tbody>
				<tr>
					<td>DB Name</td>
					<td>{{ data.name }}</td>
					<td>{{ data.name }}</td>
				</tr>
				<tr>
					<td>DB Status</td>
					<td>{{ data.status }}</td>
					<td>{{ data.status }}</td>
				</tr>
			</tbody>
		</table-->
	</div>
</body>
</html>

